* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Exo 2", sans-serif;
  font-size: 15px;
  /* border: 1px solid red; */
}

body {
  background-color: rgb(187, 247, 252);
}
header {
  background-color: white;
  color: white;
  padding: 10px 110px;
  margin: 20px 60px;
}
img {
  width: 50px;
  height: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.opciones {
  display: flex;
  gap: 45px;
}

.opciones a {
  color: rgb(11, 11, 11);
}
