@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Exo 2", sans-serif;
  font-size: 25px;
  font-weight: 500;

  /* border: 1px solid red; */
}

body {
  background-color: rgb(10, 176, 191);
}
header {
  height: 75px;
  margin: 15px;
  padding: 0px 100px;
  display: flex;
  background-color: #ffffff;
  color: white;
  border-radius: 15px;
  border: #288aa0 solid;
  justify-content: space-between;
}

.imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.imagen img {
  height: 60px;
  width: 60px;
  border-radius: 5px;
  border: #e6e6e6 solid;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 0px 150px;
}

.navbar .opciones {
  display: flex;
  gap: 50px;
}

.navbar .opciones li {
  display: inline;
}
.opciones a {
  color: rgb(54, 54, 54);
}
