* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 16px;
  text-align: center;
  margin-top: 20px;
  width: 200px;
}

.error {
  color: red;
  margin-top: 20px;
}
